<h4>Formularios <small>template</small></h4>
<hr>
<form (ngsubmit)="guardar(formTemp)" #formTemp="ngForm" novalidate="">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" [ngClass]="{'is-invalid':nombre.errors!=null, 'is-valid':nombre.errors==null}"
                type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre"
                required minlength="3" #nombre="ngModel">

                <div class="invalid-feedback">
                    <div *ngIf="nombre.errors?.required">
                        El campo es obligatorio
                    </div>
                    <div *ngIf="nombre.errors?.minlength" class="text-danger">
                        La longitud mínima es de {{nombre.errors.minlength.requiredLength}} carácteres
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" [ngClass]="{'is-invalid':apellido.errors!=null, 'is-valid':apellido.errors==null}"
                type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido"
                required #apellido="ngModel">

                <div *ngIf="apellido.errors?.required" class="invalid-feedback">
                    El campo es obligatorio
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input
            class="form-control"
            [ngClass]="{'is-invalid':correo.errors!=null, 'is-valid':correo.errors==null}"
            type="email"
            placeholder="Correo electrónico"
            name="correo"
            [(ngModel)]="usuario.correo"
            required="required"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            #correo="ngModel">

            <div class="invalid-feedback">
                <div *ngIf="correo.errors?.required">
                    El campo es obligatorio
                </div>
                <div *ngIf="correo.errors?.pattern">
                    El correo no tiene un formato válido
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">País</label>
        <div class="col-md-8">
            <select class="form-control" name="pais" [(ngModel)]="usuario.pais">
                <option value="">Seleccione un país</option>
                <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <label *ngFor="let s of sexos" class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" [value]="s" name="sexo" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{s}}</span>
            </label>
            <!-- <label class="custom-control custom-radio">
            <input [(ngModel)]="usuario.sexo" value="Mujer" name="sexo" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Mujer</span>
        </label> -->
    </div>
</div>

<div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">
        <label class="custom-control custom-checkbox">
            <input [(ngModel)]="usuario.acepta" name="acepta" type="checkbox" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Acepta las condiciones</span>
        </label>
    </div>
</div>

<div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
        <!--  -->
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formTemp.valid">
            Guardar
        </button>
    </div>
</div>
</form>

<pre>
    {{usuario | json}}
</pre>
