<div class="container main-container">
    <h1>Canal de Youtube</h1>
    <hr>
    <div class="card-columns" *ngIf="videos.length > 0">
        <div class="card" *ngFor="let video of videos">
            <img class="card-img-top" [src]="video.thumbnails.high.url" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ video.title }}</h5>
                <button type="button" (click)="verVideo(video)" class="btn btn-outline-primary btn-lg btn-block">
                    Ver vídeo
                </button>
            </div>
        </div>
    </div>

    <button (click)="cargarMas()" type="button" class="btn btn-primary-outline btn-block">Cargar más</button>
</div>

<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="videoModal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ videoModal.title }}</h5>
            </div>
            <div class="modal-body">

                <iframe width="100%" height="300" [src]="videoModal.resourceId.videoId | videoYoutube" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
            <div class="modal-footer">
                <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>

            </div>
        </div>
    </div>
</div>