<h1>Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/heroe', 'nuevo']"
        type="button" name="button" class="btn btn-outline-primary">
            <i class="fa fa-user" aria-hidden="true"></i>
            Nuevo
        </button>
    </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <th scope="row">{{ i }}</th>
                        <td>{{ heroes[k].nombre }}</td>
                        <td>{{ heroes[k].casa }}</td>
                        <td>
                            <a [routerLink]="['/heroe', k]" class="text-primary">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>

                            <a (click)="borrarHeroe(k)" class="text-danger" >
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | keys).length === 0 && !loading"
            class="alert alert-info" role="alert">
                 <strong>No</strong> hay heroes
            </div>

            <div *ngIf="loading"
            class="alert alert-warning" role="alert">
                <strong>Cargando...</strong> Por vaor, espere.
            </div>

        </div>

    </div>

</div>
