<h1>Resultados de la búsqueda <small>"{{textoBusqueda}}"</small></h1>
<nav aria-label="Page navigation example" *ngIf="paginador.total != 0">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled:paginador.actual == 1}">
            <a class="page-link" [routerLink]="['/buscar', textoBusqueda, paginador.actual - 1]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let num of paginador.numeros" [ngClass]="{active:paginador.actual == num}">
            <a class="page-link" [routerLink]="['/buscar', textoBusqueda, num]">{{num}}</a>
        </li>

        <li class="page-item" [ngClass]="{disabled:paginador.actual == paginador.total}">
            <a class="page-link" [routerLink]="['/buscar', textoBusqueda, +paginador.actual + 1]" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

<app-galeria [peliculas]="peliculas"></app-galeria>