<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fotos Firebase</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="fotos">Fotos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="carga">Carga</a>
        </li>
    </ul>
</nav>

<div class="container main-container">
    <router-outlet></router-outlet>
</div>