<div class="container top-30">
    <div class="row">

        <div class="col-md-3">
            <label for="texto">Buscador de artistas</label>
            <input [(ngModel)]="texto" (keyup)="buscarArtista()" type="text" name="texto" class="form-control"
                placeholder="Buscar por artista...">
            <hr>

        </div>

        <app-loading *ngIf="loading"></app-loading>
        <app-tarjetas [items]="_spotifyService.artistas"></app-tarjetas>
        <!-- <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 text-center puntero"
                    [routerLink]="['/artista', artista.id]"
                    *ngFor="let artista of _spotifyService.artistas">
                    <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail">
                    <p>{{artista.name}}</p>
                    <hr>
                </div>
            </div>
        </div>         -->
    </div>
</div>