<div class="container top-30">
    <div class="row">

        <div class="col-md-3">
            <label for="texto">Buscador de artistas</label>
            <input [(ngModel)]="texto"
            (keyup)="buscarArtista()"
            type="text" name="texto"
            class="form-control" placeholder="Buscar por artista...">
            <hr>

        </div>
        <div class="col-md-9">
            <ul>
                <li *ngFor="let artista of _spotifyService.artistas" >
                    {{artista.name}}
                </li>
            </ul>

        </div>

    </div>

</div>
